*.o
*.swp
*.dat
*history
*.cache

dwm/dwm
dwmblocks/dwmblocks
dmenu/dmenu
slock/slock
st/st
.config/mpd/pid

# https://stackoverflow.com/questions/3203228/git-ignore-exception
.local/share/*
.local/state/*
!.local/share/applications
!.local/share/larbs
!.local/share/stardict
!.local/share/lf.bash

.config/onedrive/*
!.config/onedrive/config

.config/microsoft-edge
.config/yay
.config/pulse
.config/calcurse
.config/ibus
.config/coc
.config/fcitx
.config/clash
.config/dconf
.config/menus
